{% extends "base.html" %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
    <div class="content">
        <h1>{% trans "Change your password" %}</h1>

        <form action="." method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
            <fieldset class="submit-row">
                <p><button type="submit">{% trans "Change password" %}</button></p>
            </fieldset>
        </form>
    </div>
{% endblock %}

