{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<h1>{% trans "Reset password" %}</h1>

    {% if validlink %}
        <form action="." method="post">
            {% csrf_token %}
            <fieldset>
                {{ form.as_p }}
            </fieldset>
            <fieldset class="submit-row">
                <p><button type="submit">{% trans "Change password" %}</button></p>
            </fieldset>
        </form>
    {% else %}
        <p>
            {% blocktrans %}The reset link is invalid. Please double check the link.{% endblocktrans %}
        </p>
    {% endif %}
{% endblock %}
