{% extends "base.html" %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="content">
        <h1>Registration</h1>
        <p>
        {% if account_verification_active %}
            Your registration was successful. We send you a e-mail including
            a link.<br />
            Please click the link to activate your account. Thank you!<br />
            <br />
            The link is valid for {{ expiration_days }} days.
        {% else %}
            Your registration was successful.
        {% endif %}
        </p>
    </div>
{% endblock %}

